body {
    margin: 0;
    background-color: rgb(61, 59, 59);
}

.stream {
    width: 100%;
    height: 510px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(34, 32, 32);
}

video {
    transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    width: 640px;
    height: 480px;
}

.stream input {
    position: absolute;
    top: 450px;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    background-color: firebrick;
    border: floralwhite solid 3px;
    outline: none;
}

canvas {
    display: none;
}

.photos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    overflow: hidden;
    overflow-x: scroll;
    height: calc(100vh - 510px);
}

.photos img {
    height: calc(100vh - 550px);
    width: auto;
    background-size: cover;
    margin: 5px;
}
