body {
    margin: 0;
    background-color: #3e3e3e;
    font-family: Roboto, serif;
}

h2 {
    font-size: 25px;
    text-align: center;
    color: lightsteelblue;
    outline: none;
    margin-right: 5px;
}

hr {
    border: none;
    color: #3e3e3e;
    background-color: #3e3e3e;
    height: 3px;
}

.over {
    visibility: hidden;
}

.container {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    font-family: Revalia, serif;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
    color: #959b8b;
    margin-left: 20px;
}

.panel {
    width: 100%;
    height: 50px;
    background-color: #862d2d;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.panelInput1 {
    background-color: #772323;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: none;
    height: 35px;
    border-radius: 10px 0 0 10px;
    color: lightsteelblue;
    outline: none;
    text-align: center;
    margin-right: 0;
    padding: 0 10px;
}

.panelInput2 {
    background-color: #772323;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border: none;
    height: 35px;
    border-radius: 0;
    color: lightsteelblue;
    outline: none;
    text-align: center;
    border-left: #862d2d solid 1px;
    border-right: #862d2d solid 1px;
    padding: 0 10px;
}

.panelInput3 {
    background-color: #772323;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: none;
    height: 35px;
    border-radius: 0 10px 10px 0;
    color: lightsteelblue;
    outline: none;
    text-align: center;
    margin-right: 30px;
    padding: 0 10px;
}

.desk {
    width: 400px;
    border-radius: 10px;
    background-color: #424242;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 20px;
}

.desk a {
    background-color: #424242;
    font-size: 15px;
    border: none;
    height: 30px;
    border-radius: 10px;
    color: lightslategrey;
    outline: none;
    text-align: center;
    padding: 0;
    margin: 0 10px 0 0;
    cursor: pointer;
}

.desk span {
    color: lightslategrey;
}

.desk input {
    background-color: #3e3e3e;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: none;
    height: 30px;
    border-radius: 5px;
    color: lightsteelblue;
    outline: none;
    text-align: center;
    margin-right: 10px;
    padding: 0 10px;
}

.desk ol {
    color: lightsteelblue;
}

.desk li {
    font-size: 20px;
    width: 300px;
    outline: none;
}

.complete {
    text-decoration: line-through;
}

.desk div {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}