body {
    margin: 0;
    background-color: darkolivegreen;
    font-family: Roboto, serif;
}

h2 {
    font-size: 25px;
    text-align: center;
    color: brown;
    outline: none;
}

hr {
    border: none;
    color: brown;
    background-color: brown;
    height: 3px;
}

.container {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    font-family: Revalia, serif;
    font-size: 30px;
    text-align: center;
    color: darkolivegreen;
    margin-left: 20px;
}

.panel {
    width: 100%;
    height: 50px;
    background-color: brown;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.panel input {
    background-color: darkolivegreen;
    border: none;
    height: 30px;
    border-radius: 10px;
    color: lightsteelblue;
    outline: none;
    text-align: center;
    margin-right: 10px;
    padding: 0 10px;
}

.desk {
    width: 400px;
    border: 3px solid brown;
    border-radius: 10px;
    margin: 20px;
}

.desk a {
    background-color: darkolivegreen;
    border: none;
    height: 30px;
    border-radius: 10px;
    color: lightslategrey;
    outline: none;
    text-align: center;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.desk span {
    color: lightslategrey;
}

.desk input {
    background-color: brown;
    border: none;
    height: 30px;
    border-radius: 10px;
    color: lightsteelblue;
    outline: none;
    text-align: center;
    margin-right: 10px;
    padding: 0 10px;
}

.desk ul {
    color: lightsteelblue;
}

.desk li {
    font-size: 20px;
    width: 300px;
    outline: none;
}

.desk div {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}