p {
    margin: 5px;
}

body {
    background: #2e2e2e;
}

.window {
    position: relative;
    width: 500px;
    border: 2px solid white;
    text-align: center;
    background: radial-gradient(circle farthest-corner at 1000px 500px, grey, #2e2e2e);
}

.window:hover {
    background: radial-gradient(circle farthest-corner at 900px 400px, grey, #2e2e2e);
    cursor: move;
}

.window img {
    margin-top: 20px;
    height: 200px;
    width: 200px;
    border-radius: 200px;
    border: 2px solid white;
    opacity: 0.7;
}

.window p {
    color: white;
    font-family: Courier, monospace;
    font-size: 15pt;
    font-stretch: ultra-expanded;
}

.window hr {
    border: none;
    height: 2px;
    margin: 0;
    color: white;
    background-color: white;
}

.icons {
    transition-duration: 2s;
    margin-top: 10px;
}

.icons * a {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: linear-gradient(45deg, grey, black);
    border-radius: 25px;
    margin: 0 10px 10px 0;
    color: white;
    border: 2px solid white;
    cursor: pointer;
}

.github a {
    padding: 8px 18px 20px 10px;
}

.github a:hover {
    background: linear-gradient(5deg, black, #191919);
    color: #fff;
}

.twitter a {
    padding: 8px 18px 20px 10px;
}

.twitter a:hover {
    background: linear-gradient(5deg, black, #00acee);
    color: #fff;
}

.instagram a {
    padding: 8px 18px 20px 10px;
}

.instagram a:hover {
    background: linear-gradient(5deg, black, #fb607f);
    color: #fff;
}

.facebook a {
    padding: 8px 16px 20px 13px;
}

.facebook a:hover {
    background: linear-gradient(5deg, black, #3b5998);
    color: #fff;
}

.vk a {
    padding: 8px 22px 20px 6px;
}

.vk a:hover {
    background: linear-gradient(5deg, black, #5d84ae);
    color: #fff;
}

.telegram a {
    padding: 8px 20px 20px 8px;
}

.telegram a:hover {
    background: linear-gradient(5deg, black, #0088cc);
    color: #fff;
}
