body {
    margin: 0;
}

* {
    box-sizing: border-box;
    font-family: Roboto, serif;
}

.container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0;
}

h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    color: #000;
}

h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    color: #000;
}

.text {
    width: 540px;
    margin-top: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    color: #727272;
}

button {
    width: 225px;
    height: 65px;
    background: #34547A;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}





/* FIRST-SCREEN */
.first-screen {
    width: 100%;
    height: 700px;
    background: #EEEFF1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.first-screen-box {
    width: 100%;
    position: relative;
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.first-screen-box p {
    text-align: left;
}

.first-screen-box img {
    width: 357px;
    height: 234px;
}

.first-screen-text-box {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}





/* HEADER */
.header__panel {
    width: 100%;
    position: relative;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-family: Revalia, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    text-align: center;
    color: #34547A;
}

.header__link {
    display: inline-block;
    text-transform: uppercase;
    margin: 0 13px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.1em;
    color: #000;
}

.header__panel div :first-child {
    color: #34547A;
}

.header__panel :last-child {
    margin: 0 0 0 13px;
}





/* ABOUT-ME */
.about-me {
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}





/* NUMBERS */
.numbers {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #34547A;
}

.numbers__item {
    width: calc(80vw / 6);
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.numbers__item img {
    margin: 0 7px 0 0 !important;
}

.numbers__numeric {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
    margin: 0 !important;
}

.numbers__caption {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #FFFFFF;
    margin: 0 !important;
}

.numbers :first-child {
    margin-left: 10%;
}

.numbers :last-child {
    margin-right: 10%;
}





/* SKILLS */
.skills-box {
    width: 1150px;
    margin: 100px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.skill-name {
    position: relative;
    margin: 25px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #727272;
}

.skill-line {
    text-align: right;
    background-color: #E5E5E5;
    width: 445px;
    height: 4px;
}

.photoshop {
    text-align: right;
    background-color: #34547A;
    width: 350px;
    height: 4px;
}

.skills-box img {
    width: 555px;
    height: 450px;
}





/* VIDEO */
.video {
    height: 1004px;
    background: #EEEFF1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.video_picture {
    background-image: url("../images/picture4.svg");
    width: 1110px;
    height: 600px;
}

.video-button__circle {
    position: absolute;
    margin-top: 250px;
    margin-left: 505px;
    width: 100px;
    height: 100px;
    background: #fff;
    border-radius: 50%;
}

.video-button__triangle {
    position: absolute;
    margin-top: 280px;
    margin-left: 540px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-left: 40px solid #000;
    border-bottom: 20px solid transparent;
}

.video p {
    margin: 40px 0;
}





/* PROJECTS */
.projects {
    margin: 100px 0;
    width: 100%;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.project {
    position: relative;
}

a.project1 {
    width: 25%;
    height: calc(25vw);
    background-image: url("../images/picture6.svg");
    background-size: 100%;
}

a.project1:hover {
    background: linear-gradient(0deg, rgba(52, 84, 122, 0.8), rgba(52, 84, 122, 0.8)), url(../images/picture6.svg);
}

a.project1:after {
    content: "";
    display: none;
    width: 100px;
    height: 58px;
    margin-top: 50%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../images/picture5.svg");
    background-size: 100%;
}

a.project1:hover:after {
    display: block;
}

a.project2 {
    width: 25%;
    height: calc(25vw);
    background-image: url("../images/picture7.svg");
    background-size: 100%;
}

a.project2:hover {
    background: linear-gradient(0deg, rgba(52, 84, 122, 0.8), rgba(52, 84, 122, 0.8)), url(../images/picture7.svg);
    background-size: 100%;
}

a.project2:after {
    content: "";
    display: none;
    width: 100px;
    height: 58px;
    margin-top: 50%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../images/picture5.svg");
}

a.project2:hover:after {
    display: block;
}





/* CLIENTS */
.clients {
    margin: 100px 0;
    width: 100%;
    background: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.client {
    width: 20%;
}





/* FORM */
.form {
    height: 762px;
    background: #EEEFF1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-box {
    width: 540px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.form h1 {
    margin-bottom: 50px;
}

.form p {
    margin-bottom: 65px;
}

.form input {
    border: none;
    width: calc(50% - 15px);
    height: 50px;
    margin-bottom: 20px;
}

.form input:first-of-type {
    margin-right: 30px;
}

.form textarea {
    resize: none;
    border: none;
    width: 100%;
    height: 175px;
    margin-bottom: 50px;
}





/* FOOTER */
.footer {
    background: #34547A;
    height: 151px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.copyright-name {
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    color: #FFFFFF;
}

.copyright-rights {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: #FFFFFF;
}

.footer img {
    margin: 0 10px;
}