body {
    margin: 0;
}

* {
    box-sizing: border-box;
    font-family: Roboto, serif;
}

.container {
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
    padding: 0;
}

h1 {
    font-style: normal;
    font-size: 30px !important;
    color: #000;
}

h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #000;
}

.text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    margin: 20px 0;
    padding: 0 20px;
    color: #727272;
}

button {
    width: 225px;
    height: 65px;
    background: #34547A;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}





/* FIRST-SCREEN */
.first-screen {
    width: 100%;
    height: 750px;
    background: #EEEFF1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.first-screen-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.first-screen-box img {
    width: 238px;
    height: 155.8px;
    margin: 20px 0;
}

.first-screen-text-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}





/* HEADER */
.header__panel {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header__panel div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__logo {
    font-family: Revalia, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    text-align: center;
    color: #34547A;
}

.header__panel a {
    display: inline-block;
    text-transform: uppercase;
    font-style: normal;
    margin: 7px 0;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.1em;
    color: #000;
}






/* ABOUT-ME */
.about-me {
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}






/* NUMBERS */
.numbers {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #34547A;
    flex-wrap: wrap;
}

.numbers__item {
    width: 170px;
    height: 50px;
    margin: 30px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.numbers__numeric {
    width: 71px;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    color: #FFFFFF;
}

.numbers__caption {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #FFFFFF;
}





/* SKILLS */
.skills-box {
    width: 100%;
    margin: 70px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.skill-name {
    margin: 25px 0;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: #727272;
}

.skill-line {
    text-align: right;
    background-color: #E5E5E5;
    width: 200px;
    height: 4px;
}

.photoshop {
    text-align: right;
    background-color: #34547A;
    width: 150px;
    height: 4px;
}

.skills-box img {
    margin-top: 50px;
    width: 90%;
}





/* VIDEO */
.video {
    height: 600px;
    width: 100%;
    background: #EEEFF1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.video_picture {
    background-image: url("../images/picture4.svg");
    width: 320px;
    height: 185px;
}

.video-button__circle {
    position: absolute;
    margin-top: 70px;
    margin-left: 140px;
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
}

.video-button__triangle {
    position: absolute;
    margin-top: 85px;
    margin-left: 158px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 20px solid #000;
    border-bottom: 10px solid transparent;
}

.video p {
    margin: 40px 0;
}





/* PROJECTS */
.projects {
    margin: 100px 0;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.project {
    position: relative;
}

a.project1 {
    width: 180px;
    height: 180px;
    background: url("../images/picture6.svg");
}

a.project2 {
    width: 180px;
    height: 180px;
    background: url("../images/picture7.svg");
}





/* CLIENTS */
.clients {
    margin: 100px 0;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clients div {
    width: 200px;
    height: 100px;
}

.client {
    width: 200px;
    height: 100px;
}






/* FORM */
.form {
    height: 700px;
    width: 100%;
    background: #EEEFF1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form * {
    margin: 10px 0;
}

.form input {
    border: none;
    width: calc(100% - 40px);
    height: 50px;
}

.form textarea {
    resize: none;
    border: none;
    width: calc(100% - 40px);
    height: 175px;
}





/* FOOTER */
.footer {
    background: #34547A;
    height: 151px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.copyright-name {
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
}

.copyright-rights {
    font-style: normal;
    font-weight: normal;
    text-align: center;
    font-size: 10px;
    color: #FFFFFF;
}

.footer img {
    margin: 0 10px;
    height: 30px;
    width: 30px;
}